/* body should remove all margin and padding
main should set the padding to 16 pixels
footer should set the top and bottom padding to 24 pixels
 and the left and right padding to 0 pixels
img should have a height of 200 pixels
nav should have a black, 1pixel bottom border and padding
 all the way around of 16 pixels */

 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.recipes{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    column-gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
 }

body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

img {
    height: 200px;
}

main {
    padding: 16px;
}

nav {
    background-color:coral;
    border-bottom: 1px solid black;
    padding: 16px;
}

h1{
    color: darkgreen;
    text-shadow: 0.5px 0.5px 3px lightslategray;
}

a {
    color: olivedrab;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    background-color: lightgoldenrodyellow;
  }

h3 > p {
    color: orchid;
}

nav > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

img + div{ color:gold;
    font-weight: bolder;
    font-style: italic;
}

footer {
    text-align: center;
    background-color: greenyellow;
    font-size: 24px;
    font-weight: bolder;
    padding: 24px  0px;
}

li:nth-child(odd){
    background-color: lightyellow;
}
li:nth-child(even){
    background-color: gainsboro;
}

tbody > tr:nth-child(3n+1){
    background-color: lightgreen;
}

tbody > tr:nth-child(3n+2){
    background-color: lightgoldenrodyellow;
}

tbody > tr:nth-child(3n){
    background-color: lightcoral;
}

.box {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
